<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Dcroat</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-400</integer>
		<key>g</key>
		<integer>-145</integer>
		<key>p</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-390</integer>
		<key>r</key>
		<integer>-110</integer>
		<key>s</key>
		<integer>-173</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>-220</integer>
		<key>period</key>
		<integer>-270</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-460</integer>
		<key>quoteright</key>
		<integer>-330</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Obreve</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Omacron</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-57</integer>
		<key>period</key>
		<integer>-68</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-31</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>b</key>
		<integer>-37</integer>
		<key>h</key>
		<integer>-19</integer>
		<key>k</key>
		<integer>-19</integer>
		<key>l</key>
		<integer>-14</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>b</key>
		<integer>-11</integer>
		<key>x</key>
		<integer>-29</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-90</integer>
		<key>f</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>comma</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-29</integer>
	</dict>
	<key>uni020E</key>
	<dict>
		<key>U</key>
		<integer>-24</integer>
	</dict>
</dict>
</plist>
